<h1>Lista de productos en tiempo real</h1>

<div id="product-list">
	{{#each products}}
	<div class="product">
		<h2>{{this.nombre}}</h2>
        <p>{{this.apellido}}</p>
        <p>{{this.edad}}</p>
	</div>
	{{/each}}
</div>

<!-- Formulario para agregar un nuevo producto -->
<form id="new-product-form">
  <input type="text" id="nombre" placeholder="Nombre">
  <input type="text" id="apellido" placeholder="Apellido">
  <input type="number" id="edad" placeholder="Edad">
  <button type="submit">Agregar</button>
</form>

<!-- Script para manejar la comunicación con Socket.IO -->
<script src="/socket.io/socket.io.js"></script>
<script>
	// Conexión al servidor de Socket.IO
	const socket = io();

	// Escucha el evento 'updateProducts' y actualiza la lista de productos en la vista
	socket.on("updateProducts", (products)=>{
		// Renderizar la lista de productos nuevamente
		const productList = document.getElementById("product-list");
		productList.innerHTML = "";

		products.forEach((product) => {
			const productElement = document.createElement("div");
			productElement.innerHTML = `
        <h2>${product.nombre}</h2>
        <p>${product.apellido}</p>
        <p>${product.edad}</p>
				`;

			productList.appendChild(productElement);
		});
	});

	// Escucha el evento de envío del formulario
	document.getElementById("new-product-form").addEventListener("submit", (event) => {
	  event.preventDefault();

	  // Obtén los datos del producto del formulario
	  const nombre = document.getElementById("nombre").value;
	  const apellido = document.getElementById("apellido").value;
	  const edad = document.getElementById("edad").value;

	  // Crea un objeto con los datos del producto
	  const newProductData = {
	    nombre,
	    apellido,
	    edad
	  };

	  // Emitir el evento "newProduct" con los datos del producto al servidor
	  socket.emit("newProduct", newProductData);

	  // Limpiar el formulario
	  document.getElementById("nombre").value = "";
	  document.getElementById("apellido").value = "";
	  document.getElementById("edad").value = "";
	});
</script>
